:root{
    /* CSS HEX */
    --pigment-green: #069e2dff;
    --forest-green: #058e3fff;
    --dark-spring-green: #04773bff;
    --dartmouth-green: #036016ff;
    --pakistan-green: #03440cff;

    --background: #EFEDE9;
    --font: #000000;
}
