---
import HeroAscii from "./HeroAscii.astro";
import SocialLinks from "./SocialLinks.astro";
---

<div class="horizontal-outer">
    <div class="description">
        <p>I am a software engineer studying computer science at the Technical University of Munich.
        <br/><br/>I like watching movies, reading comics and playing card games.</p>
        <SocialLinks/>
    </div>
</div>
<style>
    p {
        font-size: 18px;
    }
    .horizontal-outer{
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }
    .description{
        display: flex;
        flex-direction: column;
        color: var(--font);
        gap: 20px;
    }
    /* Responsive layout change */
    @media (max-width: 768px) { /* Adjust the width as needed */
        .horizontal-outer {
            flex-direction: column; /* Switches to a vertical layout on smaller screens */
            align-items: center; /* Optional: Center content if desired in column layout */
        }
    }
</style>
