---
import HeroAscii from "./HeroAscii.astro";
---

<div class="horizontal-outer">
    <HeroAscii/>
    <div class="description">
        <h1>hi, i am fangxing</h1>
        <h2>a software engineer studying computer science at TUM</h2>

    </div>
</div>
<style>
    .horizontal-outer{
        display: flex;
        gap: 20;
    }
    /* Responsive layout change */
    @media (max-width: 768px) { /* Adjust the width as needed */
        .horizontal-outer {
            flex-direction: column; /* Switches to a vertical layout on smaller screens */
            align-items: center; /* Optional: Center content if desired in column layout */
        }
    }
</style>