		<div class="ascii-container">
			<pre>
██████████▒▓█████████▒███████████▒░░▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░ ░                                         ░░░░                                     ░░▒▓▓▓▓▓▓
████████████▓▒█████████▒██████▓░░▓▓▓▓▓▓▓▓▓▓▓▓▒▓▓▓▓▓▓▓▓▓▓▓░░░░ ░░░░                              ░  ░ ░░░░                                   ░░░▒▓▓▓▓▓▓
███████████████▒████████████░░▓▓▓▓▓▓▓▓▓▓▓▒░░░ ░░░░░▓▒▓▓▓▓▓▓░░░░░░░            ░░        ░░░░   ░ ░▒▒▒▒▒▒░                                   ░░░▓▒▓▓▓▓▓
█████████████████████████▓░░█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒░      ░░▓▓▓▓▓▓▓▓▓▓▒▒░░░░░                   ░░░░▒▒▓▓▓▓▓▓▓▒░░                                    ░░▒▓▓▓▓▓▓
▒▒█████████████████████▒░▒▓████░░░░░░░░░░  ░      ░░░░▒▓▓▓▓▓▓▓▓▓▓▓▓▓▒░               ░░░░░▓▓▓▓▓▓▓▓▓▓▓▓░                                   ░░░░░▓▓▓▓▓▓▓
▒██▒▓██████████████████████▓░▒▒▒▒░▒░░░ ░   ░░░░░░░░▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▒░░                 ░░▒▓▓▓▓▓▓▓▓▓▓▓░░                                ░ ░░░░▓▓▓▓▓▓▓▓▓
█████████████████████████▒▒▓█████▒░░░ ░░    ░░ ░▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒░░░░                ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▒░░                               ░▒▓▓▓▓▓▓▓▓▓▓▓▓▒
██████████████████▓██████████████████▒░░▒▒▒▒▒▒▒▒░░▒▒▓▒░░░░░░░ ░░░ ░░               ░░░░▒▓▓▓▓▓▓▓░▓▓▓▓░░░                               ░░▒▓▓▓▓▓▓▓▓▓▓▓▓▓
███████████████████░▒▒▓██████████▓▒░░░▓▓▓▓▓▓░░ ░░░░░░░░░▒░     ░░                 ░░░░░▒▓░░▓░ ░░▓▒░░░░                                  ░░▓▓░░▓▓▓▓▓▓▓▓
▓███████████████████░▓▓▓▒▒▒░░░░░░░▓▓▓▓▓▓▓░ ░░ ░░░░░░░░░░ ░                         ░  ▒▒░░░░░░ ░░░ ░                                     ░░░▒░░░░▒▒▓▓▓
▒█▓▓███████████████░▒█▒▓▓▓▓▓▓▓▓▓▓▓▓▒▓▓░░░  ░░    ░ ░░░░                         ░░░░░▒░     ░░░ ░                               ░ ░░░░░░░    ░░░░░░░░▒
██▓▒▓███████████████▒▓░▒▒▓▓▓▓▓▓▓▓▓▓▒░░░░░ ░░░     ░░                          ░ ░▒▓░▒ ░░ ░     ░░                        ░░░░░ ░  ▒▓▓░    ░░  ░░░░░░ ░
█████████████████████▒▒▓▒░░▒░▒▒▓▒░░░               ░░ ░░░░                ░░░░▒▓▓▓▒▒░░░░░░░                              ░░░░▒░░ ░░▓▓▒▓░░░░░ ░░▒░░░░░░
█▓▓████████████████████░▒▒▒▓▒░░░░░░░               ░░▒▒▒░░               ░░░▓▓▓▓▒░░░░▒░░░░░                              ░░░░▒▓▒░░░▒▓▓▓▓▓░░░░░░▒▓▓▓▒▒░
▓▓███████████████████████▒░░░░  ░░               ░░░░▒▒░░   ░░░░░░░   ░░░▒█▓▓█▓░░▒▓█▒░░      ░  ░░░░▓▒░░               ░░  ░░ ░▓▓▓▒░▓▓▓▓▓▓▒░▒░░░▓▓▓▒▓▓
███████████████████████████▒░░ ░                 ░░▒▒▒░░░░░░░ ░░░░░░░ ░▒█▓▓▓▒░▓▓██▓▓░░░     ░░░░░▒▓▓█▒░░░             ░░ ░░░   ░▓▓▒▒▒▓▓▓▓▓▓▓░▓░░▓▓▓▓▓▓
██████████████████████████████▒░░ ░             ░░▒▒▒░ ░░ ░░▒▓▓░░░░░░░▓▓▓▓███▓█▓█▓█▒ ░░░░░░░░░▒▓█▓▓▓█▒░░            ░ ░ ░▒░░ ░░░░▓▓▓▓▓▓▓▓▓▓▓▓▓░░▓▓▓▓▓▓
███████████████████████████████▓░▒░░░            ░░░░░░  ░▓█▓█▓░░░ ░▓██▓█▓███▓▓█▓▓█░░░░░░░░░▓████▓▓██░░░            ░░░░▒▓▒░░░░░░░▓▓▓▓▓▓▓▓▓▓▓▓▒░▒▓▓▓▓▓
████████████████████████████▓░▓▒░ ░░░░ ░          ░░░░░▒▓▓█▓▓▓█░░░░░█▓▓█▓█▓████████░ ░░░░▒█▓██▓▓██▓▓█░░░░           ░░░░░▓▓░░░░░░░▒▒▒░▓▓▓▓▓▓▓▓▓▒▓▓▓▓▓▓
██████████████████████████▒░░░▒▓▓▓▓▓▓▓░░░        ░░░░▒▓▓██▓▓▓▓▓░░░▒▓░▓▓▓▓██████████░ ░░░██▓▓▓███▓▓███░░░░     ░░     ░  ░░▒░ ░  ░░░▒░░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
██████████████████████████████████▒░▒▓▒░         ░░░░▓▓▓▓▓▓█▒░░░░░░░░░░▓███████████░░░█▓▓█▓█▓▓▓▓█████▓░░   ░░░░        ░ ░░░░     ░░░░░▒▓▓▓▓▓▓▓▓▓▓▓▓▒▓
██▓██████████████████████████░░░░░░░ ░ ░         ░░░▒▓▓▓██▓░░▒▓▓▓▓▓░░░ ░░▓█████████░▓█▓▓█▓▓▓██████████▒░░░ ░▒░░░░          ░          ░░▒▓▓▓▓▓▒░▓▓░░░▓
█████████████████████████████████▒░░░░░░ ░░      ░░░▓█▓██░▒████████████▓░░░▒██████████▓▓████████████▓▒▒▒░░░▒▓▓░░░                      ░░░▓▓▓▓▒░▒▒░░░░
███████████████████████████████████████▒░░        ░░███▓░█████████████████░ ░░▓██████▓████████▓▒░░░░ ░░░  ░░▓▓░░                       ░░░░▓▓▓▒░░░░ ░░
█████████████████████████████████████▒░░░░        ░░██▒░███████████████████▒ ▒▒▓▒████▓▒░░░░░▒██▒░ ░░ ░░░░░░░░░  ░                      ░░░░░▓▓▒   ░   
██████████████████████████████████▒░░░░░░░░       ░░█▓░▓█████████████▒░░░███░░███████████████░░░▒▓▓██████▓▒░░░░░░░                      ▒▒░░░▒░ ░     
█████████████████████████████████▓▓████▒░         ░░█░▒█████████████░█▒▓█▒██▓▓██████████████░▓██████████████▓▒░░░░                    ░░ ░▓░░ ░       
█████████████████████████████████████▓░░░   ░    ░░░█░▓█████████████░█░░█▓██▒██████████████▒█████▓██████████▓█▓░░░                   ░░░░░▒▓▒░░ ░     
███████████████████████████████████▒░░░ ░░░░░    ░░▒█▒▓█████████████▒███████▒██████████████████░███░████████▓▓█░░░                   ░░  ░░░▓▒░ ░     
████████████████████████████████▓░░░░░░▒▒██▓░   ░░ ▒█▓▒███████████████████████████████████████▒▓▒▓█▒███████████░░                         ░░  ░░░     
█████████████▒▒█▒▓█████████████████████████▒  ░░ ░ ▓█▒░███████████████████████████████████████░▓██████████████▒░░░░░ ░░ ░░                 ░   ░░     
█████████████░█▒░░▒████████████████████████▓  ░░░▒░███▓░███████████████████████████████████████░░░████████████░░▒█▒░▒▓░░                              
█████████████░▓████▒▓███████████████████████░░░░█░▓█████▓░▓████████████▓▒████████████████████████████████████▒▒██░░░█░░░                  ░░          
████████████▒▒████▒▒░▓██████████████████████▒░░██░████▓▓████▓▒░░░░░░▒▒███████░▓███████████▓██████████████████████▓░██░ ░░             ░░░░░░░ ░░░░░▒▓█
████████████▒█▒▓▒░▓▓░░███████████████████████░▓██░██████████████████████████▒▓█████████████▒████████████████████▓░███░░░░░            ░░░░░░░░░░░░░▒██
█████████████▒█░▓░███░▓██████████████████████▓███░█▓████████████████████████▓███████████████░▓█████████████████▒▒████░ ▓▒░░   ░       ░░░░░░░░░  ░ ░░░
██████████████░▓░▓▒███░██████████████████████████░██▓▒████████████████████████████████████████▒▒████████████▓▒▓██████▒▒█▒░   ░░▒░░░░░░   ░░  ░░   ░░░░
███████████████░▒▒▓▓███░█████████████████████████░░▓█████████████████████████████████████████████▓░░░░░░░▒▓█████████████░░░ ░░██░░░ ░▒░    ░     ░░░░░
████████████████▒▒▒▒████░█████████████████████████░▒█████████████████████████████████████████████████████████████▒██████░ ░░▓▓░▒▓░░░▒▒░        ░░░ ░▒▓
████████▓░░░▒▓░░▓▒░▓░████░████████████████████████▓░█████████████▒░░▒▒░░░▓███████████████████████████████▒██████▓▓█████▒░▓█▒░░░░█▒░▒█░░          ░░▓██
███▓░░░░▒████▓▒▒▓▓▒░░░▓██▓░████████████████████████▒░██████████▒░░██████████▓▒▒░░▒▒▒▒▒▒▒▒▒▒▓█████████▒█████▓▓███▒▒████▓███░░░█▓░▓▒░█░░          ░░░░░░
██░▒██▒▓▒▒█████████████▓▒░░▒████████████████████████▒░████████░░░░░▒████████████████████████▓░▓██████████████████████████▒░░▓▓░█▓░█▒░░       ░░░▒██▓██
█░███████▒██▒████████████████▒░▓█████████████████████▓░███████░ ░░░░░░░▒▓█████████████████████▒░███████████████████████░░░░▓▓▓▓▓▓██░░ ░░░░ ░  ░▒░█████
░█████████████░▓██████████░█▒▓█▒▓██████████████████████░▓█████▒░░▓██▓░ ░░░░░ ░░▒▒▓▓███████▓▒░░░░░███████████████████████░▓██░░████░░░░▒█▓▒░░░░░░▓░░░▒█
████████████████░▒███████▒▓▒██▒█░█████████████████▓▓▓▓▒░░▒█████░░▓████▓░░░░  ░░░░ ░  ░ ░░░ ░░▒█▓░▓███████████████▓░█████▓▒██████▒░░░░░░▒██████▒░░░████
██████████████████▒░▒████▓██▒▒██▒▒████████████▓░░░░ ░░▓░█▓░█████░▒███████▒░░░░░ ░░░░░░░░░░ ░▓▒▓█░▓█████████████░░  ▒████████▒░░░░░░░░░░▓░███████▓░████
████▓▒▓██████████████░░█████████▒░░████████▓▒▒░░ ░  ▓▓▒████░▓█████▒░▒▓████████▓▒░░░░░░░░▒▒▒▒▒██░▒███████████▒░█░▓▒░░░░░░░░░ ░░░░░░  ░░░ ░░▒███████████
███████▒░███████████▓█▓░▒████████░▒░▓████▒▒▓░░░░▒▒░█░███████▓░▓███████████▓▒▒░░▓▓████████████▓░█████████▒█▓█▓█▒░▓█░░░░░░░░░░░░░░░█████████████████████
██████████▓░▒█████▒▓█▒█░░░▓██████░░▓█░▓▒▓█░░▒▒▒▓░▒▓▒██████████▓░███████████████████▓▒░░▒▒▒▒▒▓███████▒░▒██▓▓▓██░░██░░▒▒░░░▓██▒░░░░░▒███████████████████
█████▒░░░░░░▒▒░█▓▓█▓▒▓▓█░░░██████▓░░██▒▒█▒▒▒▓▒▓▒▓▓▓██████████▒▓█▒▒█████████████████████████████▓▒░░▒█▓▓▓▓▓███░▓███░▒▒▒▒░█████░ ░░░░░░░░░░▓████████████
█████░▒▓█▓▓▓▒▒▓██▓▒▒▒▓██▓ ▓░██████░█░█▓░███▓░▒░▓▒▓█████████▒▒██▓░█▒▒██████████████████████▒░░░░▒▒▓█▓▓█▓▓███▓░█████░▒▒▓▓▓▒▓▓▒░░░░░░▓█▓▒▒▒▒▓░░░▓████████
▒▓███░▒██▓▓██▓█▓██▓░░▓██▒░▓▓░█████░█▓░▒██████▓▒▓▓█████████░███░▓███▓░░░▓████████████▒░░░▒▒▒▒▒░░▓▓▓▓█▓▓████▒▒█████▒▓▒░▓▒▒▓▓▓▓▒░▓██░▓█████▓░░▓▓▒░░██████
█▓▒░▓▒░▓▓█▓█▓▓██▓▓█▓███▓░░▓██▒░▓██▒▓█░▓█████▓▒▓▓█████████▒██▓░█████▒██▒▒░░░░░░░░░░░▒▒▓▒▒▒▓▒░▒█▓███▓██████░███████░███▒░▓▓▒░░██▒▒████████████▒▒▒▓░░▒▒▓█
██████░▓█▓▓██▓▓▓██▓████▓███▓▒░▓██▒░▒█▓░█████▒▓▒█████████░██░▓██████▒███▓░░░░▒▓▓▓▓▓▒▓▒▓░▓░░▒█▓███▓██████▒▒████████░█████▒░▓██░▓██████████████▓░▓██████░
██████░▓▓██▓▓▓██▓▓█▓▓▓▓█▓▓███▓██▒▒▓█▓░░▓███░█▒█████████░██░████████▒▓████░░▒▓▓▓▓▒▓▒▒▓▒▓▒▓▓▓███▓███████░██████████▒████░▓██▒▓██████████████▓▒██▓▒░░░░██
██████▒▒█▓▓▓██▓███▓█▓██▓███▓▓██▓▓█▓█░▒██▒▒▒█░█████████░██░█████████▓▒██▒██░▓▓▓▒█▒░▓▒▓▓▓▓▓▓▒▓▓▓▒▒▒▒▒▒▒░▓▓▓▓▓█████▒▓██▒▒██▓▒██████████████▓▒██▒ ░ ░ ░░░░
▒██████░█▓▓███▓█▓▓████▓█▓▓█▓▓██▓▓▓▓▓▓▓▓▒▒█▓░▒████████░██▒▓██████████░███▓██▓▓▒░░▒▒▓▓███████████████████████████████▓▒▒▒░▒▓████████████▓░██▓░▒▓▓▒░░░░░░
█▓▒▒▓██░███▓███▓██▓███▓█▓█▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▒▒█▒░▓████▓▓█▓▒███████████░▒░▒▓█▓▓▒▒▓▓▒▒░░░░░░▒▓▓▓▓▓▓▓▓███████████████▓█▓▓▓▒▒▒▒▒░░▓████████░██▓░▓▓▓▒░░░▒███░
▒░░▒█░█▒▒▓▓██▓▓▓███▓███▓███▓▓██▓▓▓▓▓▓▓█▓▓▓▓▓▓░▓█░░██▒██░██████▒░░▓█▓▒▒░░░░░░▒▓████████████▓████▓███▓█████████████▓█████████░▓██████░██▓░▓▓▓▒░░░█████▒▒
████░██▓▒█▓█▓▓██▓▓▓██▓█▓███▓█▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓░░░░▒▒▒█▓█▓▒░▒▓▓▒░░░░▒▒▓██████████▓███▓████████▓███▓▓████▓███████████████████░▓████▒▒██░▒░░░░░▒███████░█
▒▓▓█████░█▓███▓▓███▓███▓███▓▓██▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▒░░ ░░▒▒░░░░░░  ░░▒▒███████████▓████▓█████████████████████████████████████▓█▓ ████░██▒▒████▒▒████████░██
▓███████░▓█▓▓███▓▓██▓███▓▓██▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▒░░    ░        ░░░▒███▓████████████████████████████████████████████████████▒░███▒██░█████░█████████▓░░█
████████ ▓▓█▓█▓▓██▓▓███▓██▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░░              ░░▒▓▓████▓████████████████████████████████████████████████▒▒██▒█▓░▓███▓▒████████████░▓
███████▓░░█▓█▓██▓▓██▓▓▓█▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░            ░░░░▒▒▒████████▓███▓████████▓███████████████▓███▓████████▓▓██░▒█▒█▓▓▒███▒▓█████████████▓░
█████▓▓░░░▓███▓▓███▓▓▓▓▓██▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░           ░░░░░▒▒▓█▓███████████▓▓████████▓██████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓░█▒█▓▒▓▓██░████████████████▒
███▒▓▓▒ ░░▓█▓▓███▓▓███▓▓█▓██▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░░           ░░░▒▒▒▓████████████████▓██▓█████████████████▓███████▓▓███▓███░▓█▓▓█▒██▒█████████████████░
▒▓▓▒▓░▒░░░░██▓▓▓██▓▓▓█▓▓▓█▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒░           ░░░░▒▒▒▒███████████▓█████████████████████████████████████████▓░██░██▒█▓██████████████████░
▒█▒▒░░░░█░░███▓▓██▓██▓██▓█▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░          ░ ░░▒▒▓▓████▓██▓███████▓███▓████▓███▓████████▓███████████████▒▒█░██▓██████▓█████████████░▓
▒▒░░█▓▓█▓▒░▓▓▓██▓▓▓█▓▓██▓▓█▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░             ░░░▒▓██▓██▓██████▓████▓▓████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████░▓▒███▒█████▒█████████████▒░▓
░░██████░█▓▒██▓▓███▓███▒░▒▓▒░▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░             ░░░░▓█▓▓███▓████████▓██████████████████████████████████████░▓▓████▓██▒▓████████████████▓
▒███████░██░████▓▓▓█▓▓▓░▓█░▓██▒░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░           ░░░░░▒▒▓█▓██████████████▓███▓███████████████▓███████████████░▒████▒██▒███████████████████
███████▒▓██░▓█▓▓██▓▓█▓░░███▒▓████▒░▓▓▓▓▓▓▓▓▓▓▓▓▓░░           ░░ ░░▒▒█▓▓███▓███▓███▓░░▓▒█████████████████████████▓████▓██▓░████▓▓▓▒████████████████████
███████▒███░▓▓█▓▓▓▓█▒░▓▒░▓█▒████████░░▓▓▓▓▓▓▓▓▓▓▒           ░░░░░░▓▒████▓██▓█▓██▓░░█▒█░▓████▓███████▓▓███████▓▓███▓▓████▒░████▓▓▓█████████████████████
███████░███▓░▓▓▓██▓▓▓░██▓░▓░█▓▓███████▓░▓▓▓▓▓▓▓▓░░          ░░   ░▓▓██████▓████▒░▓█▓▒█░██▓█████████████████▓███▓████████▒▒████▒███████████████████████
███████░▓███░██▓▓▓█▓▓▒▒█░▒██▓░▓▓█████████░▓▓▓▓▓▓▒░              ░░▓▓▒▒██▓█████▒░███░██░███████████████████████▓█████████░▓███░████████████████████████
██████▓▒█░██░▓█▓█▓▓██░▒░░▒████▓░▓█████████▓░▓▓▓▓▓░              ░░▓██████████▓ ▒███░░▓░█████████████████████████████████░███░█████████████████████████
██████▒▓██▒█▒▒▓▓██▓▓█░▓█░░▓█████▓░▓▓████████▓░▓▓▓░             ░░░▓██████████▓░███████░████████████████████████████████▓░██░██████████████████████████
██████▒▒████▓░▓█▓▓▓▓█▒▓██▓░░██████▓░███████████░░░               ░▓██████████▓░███████░▓███████████▓▓▓▓▓▓▓▓▓▓▓▒▒▓▓▒▒▓▓▒▒░█░███████████████████████████
██████▒▒░███▒░▓▓██▓▓▓▓▓░█▒██░▓██████▒▓█▒█████████▒░░ ░           ░▓██▓▓███▓▓█░▒██████▓░▓████████▓█████████████▓▓▓▓█▓▓██░▓█████████████████████████████
░█████▒░▓░▓██░▒█▓▓██▓█▓█░████▓░▓██████░░▒██████████▓░░░░░         ▒████████▒░█████▓░▓░░██████████▓█████████████████████░▓█████████████████████████████
░░▓███▒ ▓░░██▓░▓█▒▓▓▓▓▓▓▓░█████░▒██████▓ ▓███████████░ ░░         ▒████▓██░▒█████▓▓▓▒▒█████▓██▓▓▓▒▒▓▓▓▓▓▓▓▓███████████▓░██████████████████████████████
█▒░░██░░▓░░░██░▓▓▓▒▓▓▒▓▓▓▒░████▓░░▓█████▓░▓████████████▓░░░░░░░░ ░▒█▓▓▒░░▓██████████░▓██████████▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒░██████████████████████████████
 ░░ ░░░░░░░░░░░░░░░ ░░░░░░░  ░ ░░░░░░░░░ ░░░░░░░░░   ░ ░░░░   ░░  ░   ░  ░ ░░░░░░░░░░░ ░░     ░ ░░░  ░░ ░  ░░░      ░░░░░ ░░░░░░░░   ░░░░░░░   ░░░░   
			</pre>
	</div>
    <style>
        .ascii-container {
            font-size: 2px; /* Set font-size very small */
            color: green;
            white-space: pre;
            width: 100%;
            max-width: 150ch;
            line-height: 1;
        }
        /* Responsive layout change */
        @media (max-width: 768px) { /* Adjust the width as needed */
            .ascii-container {
                line-height: normal;
            }
        }
    </style>
