---
import "./TitleAscii.astro"
import TitleAscii from "./TitleAscii.astro"
---
<div class="landing">
    <p>Hey there, I am</p>
    <TitleAscii/>
    <p>welcome on my page!</p>
</div>
<style>
    .landing {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        margin-bottom: 120px;
    }
    p {
        font-size: 24px;
    }
</style>
