---
---
<div class="container">
    <slot/>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
		width: 100%;
        max-width: 64rem;
        margin: 0 auto;
        height: 100vh;
    }
</style>