---
import '../styles/colors.css'
import Icon from '../components/Icon.astro'
---

<div class="projects-column">
    <h1>
        projects
    </h1>
    <div class="project-link">
        <a href="https://tarc-fitness.com">
            <h2>tarc-fitness.com</h2>
            <h4>https://tarc-fitness.com <Icon class="link-icon"/></h4>
            <h3>Homepage of Tarc-fitness</h3>
        </a>
    </div>
    <div class="project">
        <h2>fangx.ing</h2>
        <h3>Personal Website</h3>
    </div>
    <div class="project-link">
        <a href="https://github.com/Fangoling/BrainRotGPT">
            <h2>BrainRot GPT</h2>
            <h4>https://github.com/Fangoling/BrainRotGPT<Icon class="link-icon"/></h4>
            <h3>Summarize Meetings to BrainRot content</h3>
        </a>
    </div>
    <div class="project-link">
        <a href="https://github.com/Fangoling/Hey-Exercise">
        <h2>Hey Exercise!</h2>
        <h4>https://github.com/Fangoling/Hey-Exercise<Icon class="link-icon"/></h4>
        <h3>iOS app to track exercises and workouts</h3>
        </a>
    </div>
</div>
<style>
    .project-link h2,
    .project-link h3,
    .project-link h4,
    .project h2,
    .project h3 {
        margin: 8px; /* Reset default margins */
    }
    .projects-column{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .project, .project-link{
        border-left: solid var(--pakistan-green) 2px;
        padding-left: 8px;
    }
    .project:hover, .project-link:hover{
        border-left: solid var(--forest-green) 2px;
    }
    .project-link a {
        color: var(--pigment-green);
        text-decoration: none;
        font-weight: bold;
    }
    h4 {
        color: var(--pakistan-green);
    }
    h3 {
        color: var(--forest-green);
    }
    .project-link:hover h2{
        text-decoration: underline;
        text-underline-offset: 2px;
    }
    :global(.link-icon){
        visibility: hidden;
    }
    .project-link:hover :global(.link-icon) {
        visibility: visible;
    }
</style>