---
import '../styles/colors.css'
import Icon from '../components/Icon.astro'
---
<div class="">
    <h1>Projects</h1>
    <p>A list of my current and past projects. Click to learn more about them.</p>
</div>
<div class="projects-column">
    <div class="project-link">
        <a href="https://tarc-fitness.com">
        <div class="project-title">
            <h2>
                tarc-fitness.com
            </h2>
            <div class="online-banner">ONLINE</div>
            <div class="dev-banner">IN DEV</div>
        </div>
        <h4>https://tarc-fitness.com <Icon class="link-icon"/></h4>
        <h3>Homepage of Tarc-fitness</h3>
        </a>
    </div>

    <div class="project">
        <div class="project-title">
            <h2>
                fangx.ing
            </h2>
            <div class="online-banner">ONLINE</div>
            <div class="dev-banner">IN DEV</div>
        </div>
        <h3>Personal Website</h3>
    </div>

    <div class="project-link">
        <a href="https://www.linkedin.com/posts/itestra_codingcamp-softwareengineering-teamwork-activity-7175864298890547200-1Xsw">
        <div class="project-title">
            <h2>
                IntelliKick
            </h2>
            <div class="online-banner">FINISHED</div>
        </div>
        <h4>Coding Camp @ Itestra<Icon class="link-icon"/></h4>
        <h3>Table football commentator</h3>
        </a>
    </div>

    <div class="project">
        <div class="project-title">
            <h2>
                SIEMENS SAFEGUARD
            </h2>
            <div class="online-banner">FINISHED</div>
        </div>
        <h3>Industrial Hazard Warning App</h3>
    </div>

    <div class="project-link">
        <a href="https://github.com/Fangoling/BrainRotGPT">
        <div class="project-title">
            <h2>
                BrainRot GPT
            </h2>
            <div class="dev-banner">IN DEV</div>
        </div>
        <h4>https://github.com/Fangoling/BrainRotGPT<Icon class="link-icon"/></h4>
        <h3>Summarize Meetings to BrainRot content</h3>
        </a>
    </div>

    <div class="project-link">
        <a href="https://github.com/Fangoling/.dotfiles">
        <div class="project-title">
            <h2>
                    .dotfiles
            </h2>
            <div class="dev-banner">IN DEV</div>
        </div>
        <h4>https://github.com/Fangoling/.dotfiles<Icon class="link-icon"/></h4>
        <h3>My config files. Neovim btw.</h3>
        </a>
    </div>

    <div class="project-link">
        <a href="https://github.com/Fangoling/Hey-Exercise">
        <div class="project-title">
            <h2>
                Hey Exercise!
            </h2>
            <div class="dev-banner">IN DEV</div>
        </div>
        <h4>https://github.com/Fangoling/Hey-Exercise<Icon class="link-icon"/></h4>
        <h3>iOS app to track exercises and workouts</h3>
        </a>
    </div>

</div>
<style>
    .project-link h2,
    .project-link h3,
    .project-link h4,
    .project h2,
    .project h3 {
        margin: 8px; /* Reset default margins */
    }
    .projects-column{
        display: grid;
        gap: 30px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) { /* Adjust the width as needed */
        .projects-column {
            grid-template-columns: 1fr;
        }
    }
    .project, .project-link{
        border-left: solid var(--pakistan-green) 2px;
        padding-left: 8px;
    }
    .project:hover, .project-link:hover{
        border-left: solid var(--forest-green) 2px;
    }
    .project-link a {
        color: var(--pigment-green);
        text-decoration: none;
        font-weight: bold;
    }
    h4 {
        color: var(--dartmouth-green);
    }
    h3 {
        color: var(--dark-spring-green);
    }
    .
    .project-link:hover h2{
        text-decoration: underline;
        text-underline-offset: 2px;
    }
    :global(.link-icon){
        visibility: hidden;
    }
    .project-link:hover :global(.link-icon) {
        visibility: visible;
    }
    .dev-banner{
        color: black;
        background-color: orange;
        padding: 1px 10px;
        font-size: 12px;
        font-weight: bold;
    }
    .online-banner{
        color: black;
        background-color: green;
        padding: 1px 10px;
        font-size: 12px;
        font-weight: bold;
        margin-right: 8px;
    }
    .project-title{
        display: flex;
        align-items: center;
    }
</style>
