<div class="projects-column">
    <h1>
        projects
    </h1>
    <div class="project-link">
        <a href="https://tarc-fitness.com">
            <h2>Tarc-fitness.com</h2>
            <h4>https://tarc-fitness.com</h4>
            <h3>Homepage of Tarc-fitness</h3>
        </a>
    </div>
    <div class="project">
        <h2>fangx.ing</h2>
        <h3>Personal Website</h3>
    </div>
    <div class="project-link">
        <a href="https://github.com/Fangoling/BrainRotGPT">
            <h2>BrainRot GPT</h2>
            <h4>https://github.com/Fangoling/BrainRotGPT</h4>
            <h3>Summarize Meetings to BrainRot content</h3>
        </a>
    </div>
    <div class="project-link">
        <a href="https://github.com/Fangoling/Hey-Exercise">
        <h2>Hey Exercise!</h2>
        <h4>https://github.com/Fangoling/Hey-Exercise</h4>
        <h3>iOS app to track your exercises and workouts</h3>
        </a>
    </div>
</div>
<style>
    .projects-column{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .project, .project-link{
        border-left: solid darkgreen 2px;
        padding-left: 8px;
    }
    .project-link a {
        color: green;
        text-decoration: none;
        font-weight: bold;
    }
    .project-link h4 {
        color: lightgreen;
    }
    .project-link:hover,
    .project-link:hover * {
        color: green;
    }
</style>