---
import '../styles/colors.css'
import Icon from '../components/Icon.astro'
---
<div class="">
    <h1>Projects</h1>
    <p>A list of my current and past projects. Click on one of them to learn more.</p>
</div>
<div class="projects-column">

    <div class="project-link">
        <a href="https://github.com/eclipe-theia/theia">
        <div class="project-title">
            <h2>
                Ecplise Theia
            </h2>
            <div class="online-banner">ONLINE </div>
            <div class="dev-banner">IN DEV</div>
        </div>
            <h4>github.com/eclipe-theia/theia<Icon class="link-icon"/></h4>
            <p>Contributing to the Eclipse Theia project.</p>
            <p>Working on improving the usability of the terminal by implementing structured terminal output and an AI terminal tutor.</p>
        </a>
    </div>

    <div class="project-link">
        <a href="https://github.com/eclipse-oniro4openharmony/app-GoldenREP">
        <div class="project-title">
            <h2>
                Golden REP
            </h2>
            <div class="online-banner">FINISHED</div>
        </div>
            <h4>github.com/eclipse-oniro4openharmony/app-GoldenREP<Icon class="link-icon"/></h4>
            <p>A smartwatch app that evaluates weightlifting reps in real time using sensor-based motion analysis and AI feedback.</p>
            <p>Secured 3rd Place at the Huawei Track @ hackaTUM 2025.</p>
        </a>
    </div>

    <div class="project-link">
        <a href="https://ase.cit.tum.de/projects/ipraktikum/24w/">
        <div class="project-title">
            <h2>
                Siemens Safeguard
            </h2>
            <div class="online-banner">FINISHED</div>
        </div>
            <h4>iPraktikum Winter Semester 24/25<Icon class="link-icon"/></h4>
            <p>Industrial Hazard Warning App.</p>
        </a>
    </div>

    <div class="project-link">
        <a href="https://www.linkedin.com/posts/itestra_codingcamp-softwareengineering-teamwork-activity-7175864298890547200-1Xsw">
        <div class="project-title">
            <h2>
                IntelliKick
            </h2>
            <div class="online-banner">FINISHED</div>
        </div>
        <h4>Coding Camp @ Itestra<Icon class="link-icon"/></h4>
        <p>Realtime Table football commentator.</p>
        </a>
    </div>

    <div class="project">
        <div class="project-title">
            <h2>
                fangx.ing
            </h2>
            <div class="online-banner">ONLINE</div>
            <div class="dev-banner">IN DEV</div>
        </div>
        <p>Personal Website.</p>
    </div>

    <div class="project-link">
        <a href="https://github.com/Fangoling/.dotfiles">
        <div class="project-title">
            <h2>
                    .dotfiles
            </h2>
            <div class="dev-banner">IN DEV</div>
        </div>
        <h4>github.com/Fangoling/.dotfiles<Icon class="link-icon"/></h4>
        <p>Neovim btw.</p>
        </a>
    </div>

    <div class="project-link">
        <a href="https://github.com/Fangoling/Hey-Exercise">
        <div class="project-title">
            <h2>
                Hey Exercise!
            </h2>
            <div class="dev-banner">IN DEV</div>
        </div>
        <h4>github.com/Fangoling/Hey-Exercise<Icon class="link-icon"/></h4>
        <p>iOS app to track exercises and workouts.</p>
        </a>
    </div>

    <div class="project-link">
        <a href="https://tarc-fitness.com">
        <div class="project-title">
            <h2>
                tarc-fitness.com
            </h2>
            <div class="online-banner">ONLINE</div>
            <div class="dev-banner">IN DEV</div>
        </div>
        <h4>tarc-fitness.com <Icon class="link-icon"/></h4>
            <p>Homepage of Tarc-fitness, built with Next.js.</p>
        </a>
    </div>

</div>
<style>
    h1 {
        font-size: 32px;
    }
    p {
        font-size: 18px;
    }
    h2 {
        font-size: 20px;
    }
    .project-link h2,
    .project-link h3,
    .project-link h4,
    .project h2,
    .project h3 {
        margin: 0px; /* Reset default margins */
    }
    .projects-column{
        display: grid;
        gap: 30px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) { /* Adjust the width as needed */
        .projects-column {
            grid-template-columns: 1fr;
        }
    }
    .project, .project-link{
        border-left: solid var(--font) 2px;
        padding-left: 16px;
    }
    .project:hover, .project-link:hover{
        border-left: solid var(--font) 2px;
    }
    .project-link a {
        color: var(--font);
        text-decoration: none;
    }
    h4 {
        color: var(--font);
    }
    h3 {
        color: var(--font);
    }
    .
    .project-link:hover h2{
        text-decoration: underline;
        text-underline-offset: 2px;
    }
    :global(.link-icon){
        visibility: hidden;
    }
    .project-link:hover :global(.link-icon) {
        visibility: visible;
    }
    .dev-banner{
        color: black;
        background-color: orange;
        padding: 1px 10px;
        font-size: 12px;
        font-weight: bold;
    }
    .online-banner{
        color: black;
        background-color: lightgreen;
        padding: 1px 10px;
        font-size: 12px;
        font-weight: bold;
    }
    .project-title{
        display: flex;
        align-items: center;
        gap: 8px;
    }
</style>
