<div class="card-row">
    <div class="link-box">
        <a href="https://github.com/Fangoling">Github</a>
    </div>
    <div class="link-box">
        <a href="https://linkedin.com/in/fangxingliu/">LinkedIn</a>
    </div>
    <div class="link-box">
        <a href="https://letterboxd.com/Fangoling/">Letterboxd</a>
    </div>
</div>
<style>
    .card-row {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 20px;
    }
    .link-box {
        border: 2px solid;
        padding: 10px;
        text-align: center;
    }
    .link-box a {
        color: inherit;
        text-decoration: none;
        font-weight: bold;
    }
    .link-box:hover {
        color: darkgreen;
    }
</style>
