<div class="ascii-container">
<pre class="container-big">
███████╗ █████╗ ███╗   ██╗ ██████╗ ██╗  ██╗   ██╗███╗   ██╗ ██████╗ 
██╔════╝██╔══██╗████╗  ██║██╔════╝ ╚██╗██╔╝   ██║████╗  ██║██╔════╝ 
█████╗  ███████║██╔██╗ ██║██║  ███╗ ╚███╔╝    ██║██╔██╗ ██║██║  ███╗
██╔══╝  ██╔══██║██║╚██╗██║██║   ██║ ██╔██╗    ██║██║╚██╗██║██║   ██║
██║     ██║  ██║██║ ╚████║╚██████╔╝██╔╝ ██╗██╗██║██║ ╚████║╚██████╔╝
╚═╝     ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝╚═╝╚═╝╚═╝  ╚═══╝ ╚═════╝ 
</pre>
<pre class="container-small">
███████╗ █████╗ ███╗   ██╗ ██████╗ 
██╔════╝██╔══██╗████╗  ██║██╔════╝ 
█████╗  ███████║██╔██╗ ██║██║  ███╗ 
██╔══╝  ██╔══██║██║╚██╗██║██║   ██║
██║     ██║  ██║██║ ╚████║╚██████╔╝
╚═╝     ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝ 

██╗  ██╗   ██╗███╗   ██╗ ██████╗ 
╚██╗██╔╝   ██║████╗  ██║██╔════╝ 
 ╚███╔╝    ██║██╔██╗ ██║██║  ███╗
 ██╔██╗    ██║██║╚██╗██║██║   ██║
██╔╝ ██╗██╗██║██║ ╚████║╚██████╔╝
╚═╝  ╚═╝╚═╝╚═╝╚═╝  ╚═══╝ ╚═════╝ 
</pre>
	</div>
    <style>
        .ascii-container {
            font-size: 30.0px; /* Set font-size very small */
            font-family: monospace;
            white-space: pre;
            width: 100%;
            line-height: 34px;
            display: flex;
            justify-content: center;
        }
        .container-big {
            display: block;
        }
        .container-small {
            display: none;
        }

        @media (max-width: 768px) { /* Adjust the width as needed */
        .container-big {
            display: none;
        }
        .container-small {
            display: block;
        }
        .ascii-container {
            font-size: 18.0px; /* Set font-size very small */
            line-height: 20px;
        }
    </style>