<div class="ascii-container">
<pre>
███████╗ █████╗ ███╗   ██╗ ██████╗ ██╗  ██╗   ██╗███╗   ██╗ ██████╗ 
██╔════╝██╔══██╗████╗  ██║██╔════╝ ╚██╗██╔╝   ██║████╗  ██║██╔════╝ 
█████╗  ███████║██╔██╗ ██║██║  ███╗ ╚███╔╝    ██║██╔██╗ ██║██║  ███╗
██╔══╝  ██╔══██║██║╚██╗██║██║   ██║ ██╔██╗    ██║██║╚██╗██║██║   ██║
██║     ██║  ██║██║ ╚████║╚██████╔╝██╔╝ ██╗██╗██║██║ ╚████║╚██████╔╝
╚═╝     ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝╚═╝╚═╝╚═╝  ╚═══╝ ╚═════╝ 
</pre>
	</div>
    <style>
        .ascii-container {
            font-size: 30.0px; /* Set font-size very small */
            font-family: monospace;
            white-space: pre;
            width: 100%;
            max-width: 100ch;
            line-height: 34px;
            display: flex;
            justify-content: center;
        }
    </style>